.Container {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    padding: 10px;
    gap: 10px;
    justify-content: center;
}

.Container button {
    padding: 10px 20px;
    border: #263e52 3px solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.Item1 {
    grid-column: 1;
}

.Item2 {
    grid-column: 2;
}

.Item3 {
    grid-column: 3;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border: #263e52 3px solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    background-color: #263e52;
    color: white;
}

.Item4 {
    grid-column: 4;
}

.Item5 {
    grid-column: 5;
}