.Container {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.Users {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}