.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Container h3 {
    text-transform: uppercase;
}
.Container button {
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    background: #263e52;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}